apiVersion: v1
kind: Service
metadata:
  name: argocd-server
  namespace: argocd
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: argocd-server
  ports:
    - name: http
      protocol: TCP
      port: 8080        # Port inside the cluster
      targetPort: 8080   # Port on the ArgoCD pod
      nodePort: 30080   # Port on your Node's IP
    - name: https
      protocol: TCP
      port: 443
      targetPort: 8080
      nodePort: 30443

